.arrow {
  height: 32px;
  width: 22px;
  /* line-height: 11px; */
}

.right {
  /* transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); */
}

.left {
  /* transform: rotate(135deg);
  -webkit-transform: rotate(135deg); */
}

.up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.down {
  /* transform: rotate(45deg);
  -webkit-transform: rotate(45deg); */
}
