.container {
    background-color: var(--ldb-colors-black);
    color: var(--ldb-colors-white);
    padding: var(--ldb-lengths-default);
    width: 100%;
    height: 100%;
    max-width: var(--ldb-lengths-60X);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: var(--ldb-lengths-2X);

}

.alignSelfCenter {
  margin: 0 auto;
}

.disablePadding {
  padding: 0;
}
