.container {
    background-color: var(--ldb-colors-black);
    color: var(--ldb-colors-white);
    padding: 15px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.alignSelfCenter {
  margin: 0 auto;
}

.disablePadding {
  padding: 0;
}
