.dropdown {
  display: grid;
  grid-template-areas: 
    "date dots arrow";
  grid-template-columns: 1fr auto auto;
  cursor: pointer;
}

.arrowButton { 
  grid-area: arrow;
}

.date {
  grid-area: date;
  justify-self: start;
}

.dots {
  grid-area: dots;
}

.arrowButton, .dots {
  justify-self: end;
}