@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@font-face {
  font-family: 'Circular';
  src: local('Circular'), url(../fonts/circular-std-medium-500.ttf) format('truetype');
}

:root {
  --ldb-colors-black: #191414;
  --ldb-colors-white: #ffffff;
  --ldb-colors-bellow: #FAFF81;
  --ldb-colors-blue: #75DDDD;
  --ldb-colors-green: #1DB954;
  --ldb-colors-grey: #7f7f7f;
  
  --ldb-fonts-default: 'Karla';
  --ldb-fonts-title: 'Circular';

  --ldb-lengths-half: 8px;
  --ldb-lengths-1X: 16px;
  --ldb-lengths-default: var(--ldb-lengths-1X);
  --ldb-lengths-2X: 32px;
  --ldb-lengths-3X: 48px;
  --ldb-lengths-60X: 960px;

  --ldb-lenghts-navbar: 50px;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #191414;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: calc(var(--ldb-lenghts-navbar) / 2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
