.container {
  display: grid;
  height: 190px;
  width: 100%;
  box-sizing: content-box;
  grid-template-areas: "image"
    "title"
    "artists";
  grid-template-columns: 140px;
  grid-template-rows: 140px 30px 20px;
  gap: none;
}

.image {
  width: 140px;
  height: 140px;
}

.title {
  grid-area: title;
  line-height: 30px;
}

.artist {
  grid-area: artists;
  color: var(--ldb-colors-grey);
}

.title, .artist {
  /* padding-left: var(--ldb-lengths-half); */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* animation: slide-left 5s linear infinite; */
}